[user]
        name = AUTHOR_NAME
        email = AUTHOR_EMAIL
[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
[core]
        excludesfile = ~/.gitignore
        editor = vim
[push]
        default = tracking
[branch]
        autosetuprebase = always
[merge]
        ff = false
        keepBackup = false
        tool = vimdiff
[diff]
        tool = vimdiff
[difftool]
        prompt = false
